wandb/
dataset/
*.h5
*.err
*.out
*.mp4
*.npy
*.gif
./week2/checkpoints/
./week2/results/Gaussian/
./results/Gaussian/Gifs/
*.err
*.out
*.jpg
*.pth
*.json
*.csv
*.lock
*.txt
*last_checkpoint
*events.out*
*sort*
# *.png
*.pkl
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
./week3/Results/



./week4/Results/Task1_3
./week4/Results/Task2 
./week4/Results/Task3
./week4/TrackEval
./week4/TrackEval_task3_1_test
./week4/TrackEval_task3_4_test
./week4/TrackEval/TrackEval_task3_1_test
./week4/TrackEval/TrackEval_task3_4_test
./week4/OpticalFlow
*.avi

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
.TrackEval/
.TrackEval2_1/
.TrackEval2_2/
.TrackEval3_1/
.TrackEval3_4/


# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

.idea/

# MACOS
.DS_Store

.sort/
MaskFlownet/
week4/TrackEval/TrackEval_task3_1_test/LICENSE
week4/TrackEval/TrackEval_task3_1_test/pyproject.toml
week4/TrackEval/TrackEval_task3_1_test/Readme.md
week4/TrackEval/TrackEval_task3_1_test/setup.cfg
week4/TrackEval/TrackEval_task3_1_test/setup.py
week4/TrackEval/TrackEval_task3_1_test/docs/How_To/Add_a_new_metric.md
week4/TrackEval/TrackEval_task3_1_test/docs/MOTChallenge-Official/Readme.md
week4/TrackEval/TrackEval_task3_1_test/docs/OpenWorldTracking-Official/Readme.md
week4/TrackEval/TrackEval_task3_1_test/docs/RobMOTS-Official/Readme.md
week4/TrackEval/TrackEval_task3_1_test/scripts/comparison_plots.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_bdd.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_burst_ow.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_burst.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_davis.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_headtracking_challenge.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_kitti_mots.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_kitti.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_mot_challenge.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_mots_challenge.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_person_path_22.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_rob_mots.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_tao_ow.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_tao.py
week4/TrackEval/TrackEval_task3_1_test/scripts/run_youtube_vis.py
week4/TrackEval/TrackEval_task3_1_test/tests/test_all_quick.py
week4/TrackEval/TrackEval_task3_1_test/tests/test_davis.py
week4/TrackEval/TrackEval_task3_1_test/tests/test_metrics.py
week4/TrackEval/TrackEval_task3_1_test/tests/test_mot17.py
week4/TrackEval/TrackEval_task3_1_test/tests/test_mots.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/__init__.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/_timing.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/eval.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/plotting.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/utils.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/__init__.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/baseline_utils.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/non_overlap.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/pascal_colormap.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/stp.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/thresholder.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/baselines/vizualize.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/__init__.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/_base_dataset.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/bdd100k.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_ow.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/davis.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/head_tracking_challenge.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/kitti_2d_box.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/kitti_mots.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/mot_challenge_2d_box.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/mots_challenge.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/person_path_22.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/rob_mots_classmap.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/rob_mots.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/run_rob_mots.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/tao_ow.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/tao.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/youtube_vis.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_helpers/__init__.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_helpers/burst_base.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_helpers/burst_ow_base.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_helpers/BURST_SPECIFIC_ISSUES.md
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_helpers/convert_burst_format_to_tao_format.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/datasets/burst_helpers/format_converter.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/__init__.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/_base_metric.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/clear.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/count.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/hota.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/identity.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/ideucl.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/j_and_f.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/track_map.py
week4/TrackEval/TrackEval_task3_1_test/trackeval/metrics/vace.py
week4/TrackEval/TrackEval_task3_4_test/.gitignore
week4/TrackEval/TrackEval_task3_4_test/LICENSE
week4/TrackEval/TrackEval_task3_4_test/pyproject.toml
week4/TrackEval/TrackEval_task3_4_test/Readme.md
week4/TrackEval/TrackEval_task3_4_test/setup.cfg
week4/TrackEval/TrackEval_task3_4_test/setup.py
week4/TrackEval/TrackEval_task3_4_test/docs/How_To/Add_a_new_metric.md
week4/TrackEval/TrackEval_task3_4_test/docs/MOTChallenge-Official/Readme.md
week4/TrackEval/TrackEval_task3_4_test/docs/OpenWorldTracking-Official/Readme.md
week4/TrackEval/TrackEval_task3_4_test/docs/RobMOTS-Official/Readme.md
week4/TrackEval/TrackEval_task3_4_test/scripts/comparison_plots.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_bdd.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_burst_ow.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_burst.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_davis.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_headtracking_challenge.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_kitti_mots.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_kitti.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_mot_challenge.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_mots_challenge.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_person_path_22.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_rob_mots.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_tao_ow.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_tao.py
week4/TrackEval/TrackEval_task3_4_test/scripts/run_youtube_vis.py
week4/TrackEval/TrackEval_task3_4_test/tests/test_all_quick.py
week4/TrackEval/TrackEval_task3_4_test/tests/test_davis.py
week4/TrackEval/TrackEval_task3_4_test/tests/test_metrics.py
week4/TrackEval/TrackEval_task3_4_test/tests/test_mot17.py
week4/TrackEval/TrackEval_task3_4_test/tests/test_mots.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/__init__.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/_timing.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/eval.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/plotting.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/utils.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/__init__.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/baseline_utils.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/non_overlap.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/pascal_colormap.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/stp.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/thresholder.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/baselines/vizualize.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/__init__.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/_base_dataset.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/bdd100k.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_ow.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/davis.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/head_tracking_challenge.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/kitti_2d_box.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/kitti_mots.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/mot_challenge_2d_box.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/mots_challenge.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/person_path_22.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/rob_mots_classmap.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/rob_mots.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/run_rob_mots.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/tao_ow.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/tao.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/youtube_vis.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_helpers/__init__.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_helpers/burst_base.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_helpers/burst_ow_base.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_helpers/BURST_SPECIFIC_ISSUES.md
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_helpers/convert_burst_format_to_tao_format.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/datasets/burst_helpers/format_converter.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/__init__.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/_base_metric.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/clear.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/count.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/hota.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/identity.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/ideucl.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/j_and_f.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/track_map.py
week4/TrackEval/TrackEval_task3_4_test/trackeval/metrics/vace.py
